body{
    margin: 5% 20% 10% 20%;
    border: 2px solid black;
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.image img{
    padding: 10px;
    width: 75%;
    height: 30%;
}
ul{
    display: flex;
}
li{
    list-style: none;
    padding: 0 10px 0 10px;
}
.line{
    border-right: 1px solid black;
}
.hr{
    border: 1.5px solid black;
}
.body{
    margin: 8% 20% 8% 20%;
    border: 1.5px solid black;
    width: 60%;
}

.log h2{
    margin: -2.5% 0 4% 3%;
    padding-left: 1%;
    width: 15%;
    background: white;
    display: flex;
}

.info .name{
    padding-left: 3%;
    padding-right: 20%;
    padding-bottom: 2%;
    display: flex;
    justify-content: space-between;
}

.name input{
    width: 92%;
}

.rm{
    padding-left: 12px;
}

.btn{
    padding-left: 12px;
}

.btn input{
    color: black;
}

.hr1{
    width: 95%;
}

.bottom p{
    text-align: center;

}