body{
    margin: 5% 20% 10% 20%;
    border: 2px solid black;
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.image img{
    padding: 10px;
    width: 75%;
    height: 30%;
}
ul{
    display: flex;
}
li{
    list-style: none;
    padding: 0 10px 0 10px;
}
.line{
    border-right: 1px solid black;
}
.hr{
    border: 1.5px solid black;
}
.body{
    margin: 8% 20% 8% 20%;
    border: 1.5px solid black;
}

.forget h2{
    margin: -2.5% 0 4% 5%;
    padding-left: 1%;
    width: 45%;
    backdrop-filter: blur(100px);
    background-color: white;
    display: flex;
}

.info .name{
    padding-left: 5%;
    padding-right: 45%;
    padding-bottom: 1%;
    display: flex;
    justify-content: space-between;
}

.name input{
    width: 100%;
}

.btn{
    padding-left: 5%;
}

.btn input{
    color: black;
}

.hr1{
    width: 95%;
}

.bottom p{
    text-align: center;

}