body{
    margin: 5% 25% 10% 25%;
    border: 2px solid black;
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.image img{
    padding: 10px;
    width: 75%;
    height: 30%;
}
ul{
    display: flex;
}
li{
    list-style: none;
    padding: 0 10px 0 10px;
}
.line{
    border-right: 1px solid black;
}
.hr{
    border: 1.5px solid black;
}

.body p{
    font-weight: 600;
    padding: 5%;
    margin-bottom: 8%;
}

.bottom p{
    text-align: center;

}