.container {
    /* background-color: aqua;
    padding: 15px 20px;
    border: 1px solid rgb(204, 204, 204);
    max-width: 850px;
    margin: auto; */
    max-width: 750px;
    margin: 50px auto;
    background-color: aqua;
    background-size: cover;
    padding: 35px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    border: none;
}
body{
    background-color: white;
}
header{
    /* text-indent: 50px;*/
    font-weight: 700; 
    text-align: center;
    a{
    margin-right: 35px;
    font-family: 'Segoe UI';
    text-decoration: none;
    }
}
/* a{
    margin-right: 60px;
    font-family: 'Segoe UI';
} */
section{
    img.me{
        border-radius: 20%;
        transition: all 2s;
    }
    .me:hover{
        transform: scale(1.1);
    }
}
footer{
    /* margin-right: 30px; */
    text-align: center;
    p{
        text-align: center;
    }
    /* img{
        margin-right: 10px;
    } */
    a{
    margin-right: 10px;
    font-family: 'Century Gothic';
    text-decoration: none;
    }
}
hr.new{
    border: 1.5px dashed white;
}
hr.new1{
    border: 1.5px dashed white;
}