body{
    background-color: rgb(238, 195, 242);
}

.form {
    max-width: 600px;
    margin: 50px auto;
    background: rgba(187, 21, 174,0.4);
    background-size: cover;
    padding: 25px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.form h1 {
    text-align: center;
    color: rgba(245, 34, 10, 0.701);
    margin-bottom: 20px;
}

.form p {
    font-size: 16px;
    margin: 10px;
    padding: 8px;
    background: #fae4fa;
    border-radius: 5px;
}

.form strong {
    color: rgb(50, 20, 70);
}
